body{
    color: #fff;
    background: #741d51; /* Old browsers */
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */

}

canvas {
    background-color: #fff;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

canvas  {
    border: 1px solid #000;
}

.container-save_update {
    display: flex !important;
    
}   

.container-save_update button {
    flex-grow: 1;
}

.btn-danger {
    background-color: rgb(78, 3, 3);
}